body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.customerMessage,
.businessMessage {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.customerMessage h1,
.businessMessage h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.customerMessage p,
.businessMessage p {
  margin-bottom: 20px;
}

.customerMessage li {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.businessMessage h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.businessMessage p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

.businessMessage ul {
  list-style-type: none;
  padding: 0;
}

.businessMessage li {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
